# Configuration de la Base de Données
DB_NAME=fadel_db12
DB_USER=fadel_user1
DB_PASSWORD=Fadel2024!SSS

# Variables pour le Backend
JWT_SECRET=fadel_delivery_secret_key_2026_ndjamena_chad_99887788
NODE_ENV=development
PORT=3000

